{% extends 'normal/layout/ablayout.html' %}
{% load static %}
{% block content %}

        <!--  PAGE HEADING -->

        <section class="page-header" data-stellar-background-ratio="0.1">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            Event Lists
                        </h3>

                        <p class="page-breadcrumb">
                            <a href="{% url 'CCSB:home' %}">Home</a> / All Events
                        </p>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section> <!-- end .page-header  -->

        <!--  MAIN CONTENT  -->

        <section class="section-content-block section-gallery-block">

            <div class="container">

                <div class="event-search-box">

                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            <input type="text" class="form-control" placeholder="Events From">
                        </div><!-- end .col-sm-5 -->

                        <div class="col-md-5  col-sm-12">
                            <input type="text" class="form-control" placeholder="Search">
                        </div><!-- end .col-sm-5 -->

                        <div class="col-md-2 col-sm-12 text-center">
                            <button type="button" class="btn btn-event-search col-sm-12">Find Events</button>
                        </div><!-- end .col-sm-2 -->

                    </div><!-- /.row -->

                </div> <!-- end .event-search-box  -->

            </div>
        </section>

        <!--  EVENT SECTION  -->

        <section class="section-content-block event-section-1 section-secondary-bg">

            <div class="container wow fadeInUp">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Upcoming <span>Events</span></h2>
                        <p class="section-subheading">
                            Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.
                        </p>
                    </div> <!-- end .col-sm-10  -->

                </div> <!-- end .row  -->

                <div class="row">
                     {% for event in events %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="event_wrapper-1 xs-margin">
                            <figure class="event-img" style="height: 217px; overflow: hidden;">
                                <img src="{{event.events_image.url}}" alt="event" />
                            </figure> <!-- end .event-img  -->
                            <div class="event-text">
                                <span class="event-date">{{ event.event_date|date:"j M Y" }}</span>
                                <h5><a href="#">{{event.events_title}}</a></h5>
                                <p>{{ event.events_description|truncatechars:150|safe|escape }}<a href="">Read More</a></p>
                            </div> <!--  end .event-text  -->

                        </div><!-- end .custom-event-list-wrapper -->

                    </div> <!-- end .col-md-4  -->
                    {% endfor %}
                </div> <!-- end .row  -->


                <div class="row">
                    <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
                        <a href="#" class="btn btn-load-more">- Load All Events -</a>
                    </div>
                </div> <!-- end .row  -->


            </div> <!-- end .container  -->

        </section> <!-- end .event-section-1  -->	



     {% endblock %}