{% extends "aahome/aalayout.html" %}
{% load static %}
{% block title %}{{ title|title }}{% endblock title %}
    {% block links %}
        <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
        <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    {% endblock links %}
{% block content %}


            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container">
                                <a href="{% url 'CCSBADMIN:updateaccountprofilepic' %}" class="btn btn-success text-capitalize">edit profile pic</a>
                                <a href="{% url 'CCSBADMIN:change_password' %}" class="btn btn-success text-capitalize">change password</a>
                                <div class="login-wrap" style="max-width: 1294px;">
                                    <div class="login-content">
                                        <div class="login-logo">

                                            <a href="#">
                                                <img src="{% static 'images/ccsb.png' %}" alt="CCBS">
                                            </a>
                                        </div>

                                        <div class="login-form">
                                            <form action="{% url 'CCSBADMIN:updateaccount' %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                 <div class="row" >
{#                                                    <div class="form-group w-100 col-md-4" style=" display:flex; padding: 20px; flex-direction: column; ">#}
{#                                                        <label for="exampleInputEmail1 " class="text-capitalize">Admin profile</label>#}
{#                                                            <div class="position-relative" style="width: 285px; height: 286px;">#}
{#                                                                <input name="image" value="{{admin.profile_pic}}"  id="vmimg"  type="file" onchange="readURL(this);" style="position: absolute;width: 107px; top: 50%; transform: translate(-50%, -50%); left: 50%; z-index: 33;" />#}
{#                                                                <img style="border-radius: 20px; width:100%; height: 100%; position: relative" class="blah" id="blah" src="{{admin.profile_pic.url}}" alt="your image" />#}
{#                                                            </div>#}
{#                                                        <small id="emailHelp" class="form-text text-muted text-capitalize">Image Preferably .jpeg, .png, .jpeg</small>#}
{#                                                    </div>#}
                                                    <div class="col-sm-12 col-md-12 row">
                                                        <div class="form-group col-sm-12 col-md-12">
                                                            <label>FirstName</label>
                                                            <label>
                                                                <input required value="{{admin.first_name }}" class="au-input au-input--full" type="text" name="first_name" placeholder="Last Name">
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-sm-12 col-md-12">
                                                            <label>Last Name</label>
                                                            <label>
                                                                <input required value="{{admin.last_name }}" class="au-input au-input--full" type="text" name="last_name" placeholder="First Name">
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-12 col-md-12">
                                                        <label>Phone Number</label>
                                                        <label>
                                                            <input required value="{{admin.phone_no }}" class="au-input au-input--full" type="text" name="phone_no" placeholder="Phone Number">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-12 col-md-6">
                                                        <label>Username</label>
                                                        <input required value="{{admin.username }}" class="au-input au-input--full" type="text" name="username" placeholder="Username">
                                                    </div>
                                                    <div class="form-group col-sm-12 col-md-6">
                                                        <label>Email Address</label>
                                                        <input required value="{{admin.email }}"  class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                                    </div>
                                                </div>


{#                                                <div class="row">#}
{#                                                    <div class="form-group col-sm-12 col-md-6">#}
{#                                                        <label>Password</label>#}
{#                                                        <input class="au-input au-input--full" type="password" name="password1" placeholder="Password">#}
{#                                                    </div>#}
{#                                                    <div class="form-group col-sm-12 col-md-6">#}
{#                                                        <label>Confirm Password</label>#}
{#                                                        <input class="au-input au-input--full" type="password" name="password2" placeholder="Confirm Password">#}
{#                                                    </div>#}
{##}
{#                                                </div>#}


{#                                                <div class="login-checkbox col-sm-12 col-md-5">#}
{#                                                    <label>#}
{#                                                        <input type="checkbox" name="aggree">Agree the terms and policy#}
{#                                                    </label>#}
{#                                                </div>#}
                                                <button class="au-btn au-btn--block au-btn--green m-b-20 m-t-20" type="submit">save</button>

                                            </form>
                                            <div class="register-link">
{#                                                <p>#}
{#                                                    Already have account?#}
{#                                                    <a href="#">Sign In</a>#}
{#                                                </p>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © <script> var date = new Date(); var yr = date.getFullYear(); document.write(yr);</script> Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
{% block scripts %}
     <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
          $('.tablez').DataTable(
               {#{#}
               {# "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {#}
               {#         $('td', nRow).css('background-color', '#323a46');#}
               {# }#}

          );
        });
    </script>
{% endblock scripts %}